body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}