body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.body-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.body-one .text .awesome {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.body-one .text .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
}

.body-one button {
    border: 1px solid #3882f6;
}

.body-four button {
    border: 1px solid white;
}
.body-two {
    text-align: center;
    color: #1f2937;
}

.body-two .information {
    font-size: 36px;
    font-weight: 800;
}
.body-two .images {
    display: flex;
    justify-content: center;
}

.body-two img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.image-1,
.image-2,
.image-3,
.image-4 {
    max-width: 200px;
}

.body-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-three .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 800px;
    flex: auto;
}

.body-three .signature {
    text-align: right;
    width: 750px;
    font-size: 16px;
    font-weight: bold;
}
